---
# tasks file for docker.ubuntu
- name: Fail if not a new release of Ubuntu
  fail: msg="{{ ansible_distribution_version }} is not an acceptable version of Ubuntu for this role"
  when: "ansible_distribution_version not in ['12.04', '13.04', '13.10', '14.04']"

- name: Install raring kernel onto 12.04
  apt:
    pkg: "{{ item }}"
    state: latest
    update_cache: yes
    cache_valid_time: 600
  with_items:
    - linux-image-generic-lts-raring
    - linux-headers-generic-lts-raring
  register: kernel_result
  when: "ansible_distribution_version == '12.04'"

- name: Install latest kernel extras for Ubuntu 13.04+
  apt:
    pkg: "linux-image-extra-{{ ansible_kernel }}"
    state: latest
    update_cache: yes
    cache_valid_time: 600
  when: "ansible_distribution_version != '12.04'"

# Fix for https://github.com/dotcloud/docker/issues/4568
- name: Install cgroup-lite for Ubuntu 13.10
  apt:
    pkg: cgroup-lite
    state: latest
    update_cache: yes
    cache_valid_time: 600
  register: cgroup_lite_result
  when: "ansible_distribution_version == '13.10'"

- name: Reboot instance
  command: /sbin/shutdown -r now
  register: reboot_result
  when: "(ansible_distribution_version == '12.04' and kernel_result|changed)
      or (ansible_distribution_version == '13.10' and cgroup_lite_result|changed)"

- name: Wait for instance to come online
  local_action:
    module: wait_for
    host: "{{ ansible_ssh_host|default(inventory_hostname) }}"
    port: 22
    delay: 30
    timeout: 600
    state: started
  when: "(ansible_distribution_version == '12.04' and reboot_result|changed)
      or (ansible_distribution_version == '13.10' and cgroup_lite_result|changed)"

- name: Add Docker repository key
  apt_key: url="https://get.docker.io/gpg"

- name: Add Docker repository
  apt_repository:
    repo: 'deb http://get.docker.io/ubuntu docker main'
    update_cache: yes

- name: Install Docker
  apt: pkg=lxc-docker
  notify: "Start Docker"
